[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"

[requires]
python_version = "3.6"

[packages]
mypy = "*"
pylint = "*"
requests = "*"
beautifulsoup4 = "*"
click = "*"
halo = "*"
ipython = "*"
ipdb = "*"
py = "*"
mock = "*"
responses = "*"
autopep8 = "*"
twine = "*"
wheel = "*"
setuptools = "*"

[dev-packages]
ipython = "*"
autopep8 = "*"
pytest = "*"
